@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.home-container{
    width: 100%;
    height: 100vh;
    background-image:
    linear-gradient(to bottom, rgba(58, 57, 57, 0.52), rgba(58, 57, 57, 0.52)),
    url('../images/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.home-container .home-content{
    position: absolute;
    top: 30%;
    left: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    flex-direction: column;
    gap: 1.5rem;

}

.home-container .home-content h2{
    font-family: 'Yesteryear', cursive;
    text-transform: lowercase;
    font-size: 2.4rem;
    font-weight: lighter;
}

.home-container .home-content h1{
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
}


.home-container .home-content .home-button{
    padding: 8px;
    width: 160px;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 1px solid white;
    transition: all 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    font-weight: 900;
    text-decoration: none;
}
.home-container .home-content .home-button:hover{
    background-color: #eb5058;
    border: 1px solid #eb5058;
}

.home-container img{
    position: absolute;
    width: 1px;
    height: 205px;
    right: 50%;
    bottom: -15%;
    z-index: 100;
    
}

.home-about{
    width: 100%;
    height: 195vh;
    background-color: #f7f0e5;
    position: relative;
}

.home-about .home-img{
    position: absolute;
    top: 12%;
    left: 24%;
}

.home-about .fork{
    position: absolute;
    height: 500px;
    left: 57%;
    top: 10%;
}

.home-about .about-content{
    position: absolute;
    top: 45%;
    left: 16%;
    text-align: center;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.home-about .about-content h2{
    font-family: 'Yesteryear', cursive;
    text-transform: lowercase;
    font-size: 2.4rem;
    font-weight: lighter;
    margin: 2rem 0;
}

.home-about .about-content img{
    width: 70px;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.home-about .about-content h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 3rem;
}

.home-about .about-content p{
    line-height: 2;
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: gray;
    margin-bottom: 1rem;
}

.home-about .about-content a{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #eb5058;
    border: 1px solid #eb5058;
    transition: all 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-size: 1.rem;
    font-weight: 900;
    text-decoration: none;
    margin: 3rem;
    padding: 10px 25px;
}

.home-about .about-content a:hover{
    background-color: #eb5058;
    color: white;
}

.home-about .reddash{
    position: absolute;
    width: 1px;
    height: 100px;
    right: 50%;
    bottom: -3%;
    z-index: 101;
}

.demo-menu{
    background-color: #f7f0e5;
    width: 100%;
    height: 310vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.demo-menu .menu-content{
    padding-top: 6rem;
    width:800px;
    text-align: center;
}

.demo-menu .menu-content h2{
    font-family: 'Yesteryear', cursive;
    text-transform: lowercase;
    font-size: 2.4rem;
    font-weight: lighter;
    margin: 3.5rem 0;
}

.demo-menu .menu-content img{
    width: 70px;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.demo-menu .menu-content h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1px;
    font-size: 3rem;
}

.demo-menu .menu-content p{
    line-height: 2;
    font-size: 1.1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgb(142, 140, 140);
    margin-bottom: 1rem;
}

.chef-spl{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
    position: relative;
    margin-bottom: 8rem;
}


.chef-spl .items h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1.3px;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.chef-spl .items a{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.chef-spl .items a:hover{
    color: #eb5058;
    cursor: pointer;
}

.chef-spl .items a span{
    color: rgb(142, 140, 140);
}

.chef-spl .items p{
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgb(142, 140, 140);
    margin-bottom: 2rem;
}

.chef-spl .item-img{
    position: relative;
}
.chef-spl .item-img .spl{
    width: 550px;
    height: 450px;
    
}

.chef-spl .reddash{
    position: absolute;
    width: 1px;
    height: 100px;
    right: 50%;
    bottom: -32%;
    z-index: 101;
}

.chef-main{
    padding-top: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
    margin-bottom: 8rem;
}

.chef-main .main-img .pizza{
    width: 670px;
    height: 520px;
}

.chef-main .items h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1.3px;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.chef-main  .items a{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

.chef-main  .items a:hover{
    color: #eb5058;
    cursor: pointer;
}

.chef-main  .items a span{
    color: rgb(142, 140, 140);
}

.chef-main  .items p{
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    color: rgb(142, 140, 140);
    margin-bottom: 2rem;
}

.chef-main .reddash{
    position: absolute;
    width: 1px;
    height: 100px;
    right: 50%;
    bottom: -30%;
    z-index: 101;
}

.home-rating{
    width: 100%;
    height: 150vh;
    background-image:
    linear-gradient(to bottom, rgba(194, 194, 189, 0.52), rgba(190, 190, 186, 0.52)),
    url('../images/rating-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.home-rating .container{
   width: 800px;
   text-align: center;
}

.home-rating .container .stars{
    margin: 3rem;
    padding: 2rem;
}

.home-rating .container .stars i{
    color: #ffcc00;
    font-size: 3rem;
}

.home-rating .container h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1.3px;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.home-rating .container img{
    width: 80px;
    height: 1.5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.home-rating .container p{
    font-family: 'Yesteryear', cursive;
    text-transform: lowercase;
    font-size: 2.4rem;
    font-weight: lighter;
    margin: 3.5rem 0;
    color: #ef0612;
    text-shadow: black;
}

.home-rating .container span{
    color: black;
    font-size: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    margin-bottom: 1.5rem;
    
}

.home-rating .reddash{
    position: absolute;
    width: 1px;
    height: 100px;
    right: 50%;
    bottom: -4%;
    z-index: 101;
}

.reservation{
    background-color: #f7f0e5;
    width: 100%;
    height: 145vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reservation .image{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reservation .context{
    width: 720px;
    text-align: center;
}

.reservation .context h2{
    font-family: 'Yesteryear', cursive;
    text-transform: lowercase;
    font-size: 2.4rem;
    font-weight: lighter;
    margin: 2rem 0;
}

.reservation .context h1{
    font-family: 'Oswald', sans-serif;
    margin: 1rem 0;
    letter-spacing: 1.3px;
    font-size: 3rem;
    margin-bottom: 5rem;
}

.reservation .context a{
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: #eb5058;
    border: 1px solid #eb5058;
    transition: all 0.3s ease;
    font-family: 'Playfair Display', serif;
    font-size: 1.rem;
    font-weight: 900;
    text-decoration: none;
    margin: 3rem;
    padding: 10px 25px;
}

.reservation .context a:hover{
    background-color: #eb5058;
    color: white;
}