@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kanit&family=Montserrat&family=Playfair+Display&display=swap');

.admin-container{
    min-height: 120vh;
    width: 100%;
}

.spinner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.admin-container .admin-heading h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
}

.inner-heading{
    padding: 2rem;
    text-align: center;
    font-family: 'Kanit', sans-serif;

}

.admin-container .admin-heading{
    width: 100%;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:
    linear-gradient(to bottom, rgba(58, 57, 57, 0.52), rgba(58, 57, 57, 0.52)),
    url('../images/admin.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.admin-container .admin{
    padding:  1rem 4rem;
}

.tab-heading{
    font-family: 'Orbitron', sans-serif;
    margin: 0 !important;
    font-size: 1.2rem;
}

table{
    font-family: 'Kanit', sans-serif;
    font-size: 1.2rem;
}

.admin-comtainer{
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: rgb(100, 100, 100);
    margin-bottom: 2rem;
}

.admin-comtainer .admin-input{
    width: 100%;
    display: flex;
    gap: 1rem;
    
}

.admin-comtainer .admin-input .sub{
    width: 50%;
    height: auto;
}

.admin-comtainer .admin-input input{
    width: 100%;
    margin: 0.5rem;
    padding: 0.8rem 0.8rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.admin-comtainer  .button{
    width: 100%;
    margin: 1rem 1rem;
    text-align: center;
}

.admin-comtainer .button button{
    padding: 0.4rem 2.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border: 1px solid #eb5058;
    color: #eb5058;
    background-color: transparent;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.admin-comtainer .button button:hover{
    background-color: #eb5058;
    color: white;
}

